.fleet {
  width: 100%;

  &__header {
    justify-content: space-between;
    align-items: center;
  }
}

#back-button {
  margin: 2rem 0 0 2rem;
  background-color: black;
  color: white;
  &:hover {
    background-color: orange;
  }
}

.fuel-type-filter {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 2rem;
  border: 3px solid black;
  width: 30%;
  padding: 2rem;
}

.car__wrap {
  display: flex;
  position: relative;
  justify-content: center;
  margin-block-start: 4rem;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.card {
  &-content {
    position: absolute;
    bottom: 0;
    margin: 0 1.5rem 5rem 1rem;
    text-align: center;
  }

  &-actions {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
    margin: 1rem;
  }
}

.view-button {
  background-color: black;
  color: white;
  font-size: 1rem;
}

.view-button:hover {
  background-color: orange;
}

.city-icon {
  font-size: 3rem;
}

.hero-icon,
.lodge-icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

.card-action-buttons {
  display: flex;
  gap: 1rem;

  & button {
    flex-grow: 1;
  }
}

#booking-button {
  background-color: black;
  color: white;
  font-size: 1rem;
}

#booking-button:hover {
  background-color: orange;
}

@media screen and (max-width: 650px) {
  .car__wrap {
    flex-direction: column;
  }

  .direction-icons-left {
    display: none;
  }

  .back-button-text {
    display: none;
  }
}
