<div class="fleet">
    <div class="fleet__header">
        <button 
        id="back-button"
        mat-raised-button
        (click)="onBackNavigation()">
            <mat-icon>chevron_left</mat-icon>
            {{backButtonTitle}}
        </button>
        <h2 class="fleet__title">
            Our Fleet
        </h2>
    </div>
    <div class="fleet__car-selector">
      <!-- Car selection UI elements would go here -->
    </div>
    <div class="fleet__car-card">
      <h4 class="fleet__car-card-title"></h4>
      <span class="fleet__car-card-details"></span>
    </div>
  </div>