<div class="fleet">
    <div class="fleet__header">
      <button 
        id="back-button"
        mat-raised-button
        (click)="onBackNavigation()">
        <mat-icon>chevron_left</mat-icon>
        <span class="back-button-text">{{backButtonTitle}}</span>
      </button>
    </div>

    <div class="fuel-type-filter" *ngIf="filteredCarList">
      <app-filter-block
        searchBarTitle="Filter by fuel types"
        [options]="filteredCarList"
        placeholder="Search Car By Make or Model"
        (searchEvent)="onSearchedTerm($event)"
        (clearEvent)="onResetSearchFilter()"
        (selectedValue)="onFilterChange($event)"
      >
      </app-filter-block>
    </div>

    <div class="car__wrap" *ngIf="carDetails">
      <ng-container *ngFor="let car of carsMatchingCriteria">
        <app-car-card [car]="car">
          <mat-card-actions footer class="card-actions">
            <button 
              (click)="openLocationsPopup(car)"
              mat-raised-button 
              class="view-button"
            >
              <mat-icon class="view-icon">location_on</mat-icon>
              View Available Locations
            </button>
          </mat-card-actions>
        </app-car-card>
      </ng-container>
    </div>
  </div>