<mat-card
  class="location"
  [ngClass]="
    showHideCarouselLocationClass
      ? showHideCarouselLocationClass
      : { 'location-disabled': !location.isFinalized }
  "
>
  <img
    mat-card-image
    class="image"
    src="{{ location.image }}"
    alt="{{ location.name }}"
  />
  <h2 *ngIf="!location.isFinalized" id="coming-soon">Coming Soon</h2>
  <mat-card-header class="location-header">
    <mat-card-title>{{ location.name }}</mat-card-title>
    <mat-card-subtitle>{{ location.area }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    {{ location.brief }}
  </mat-card-content>
  <ng-content select="[footer]"></ng-content>
</mat-card>
