
<form [formGroup]="form">
  <div class="booking-details-container">
    <h2 class="form__header">Booking Details</h2>
    <div class="form__2-column">
      <mat-form-field appearance="outline">
        <mat-label>Booking start date</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="pickerStartDate" formControlName="bookingStartDate" (dateChange)="convertMomentToString('bookingStartDate')" />
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <mat-datepicker color="primary" #pickerStartDate></mat-datepicker>
        <mat-error>{{ getErrorMessage('bookingStartDate', 'Booking start date') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Booking end date</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="pickerEndDate" formControlName="bookingEndDate" (dateChange)="convertMomentToString('bookingEndDate')" />
        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
        <mat-datepicker color="primary" #pickerEndDate></mat-datepicker>
        <mat-error>{{ getErrorMessage('bookingEndDate', 'Booking end date') }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form__2-column">
      <mat-form-field appearance="outline">
        <mat-label>Pickup Location</mat-label>
        <mat-select formControlName="bookingPickUpLocation">
          <mat-option [value]="location.name">{{ location.name }}</mat-option>
        </mat-select>
        <mat-error>{{ getErrorMessage('bookingPickUpLocation', 'Pick up location') }}</mat-error>
      </mat-form-field>

      <mat-checkbox
        class="form__checkbox"
        color="primary"
        formControlName="isDropOffAndPickUpLocationSame"
      >
        Drop-off Location same as Pickup
      </mat-checkbox>
    </div>

    <div class="form__2-column">
      <mat-form-field appearance="outline">
        <mat-label>Drop off Location</mat-label>
        <mat-select formControlName="bookingDropOffLocation">
          <mat-option
            *ngFor="let location of filteredLocations"
            [value]="location.name"
            >{{ location.name }}</mat-option
          >
        </mat-select>
        <mat-error>{{ getErrorMessage('bookingDropOffLocation', 'Drop off location') }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Selected Car Type</mat-label>
        <input matInput formControlName="selectedCarType" />
      </mat-form-field>
    </div>

    <mat-radio-group color="primary" formControlName="numberOfDrivers" class="form__radio-group">
      <mat-label>Number of Drivers:</mat-label>
      <mat-radio-button [value]="1">1 </mat-radio-button>
      <mat-radio-button [value]="2">2 </mat-radio-button>
      <mat-radio-button [value]="3">3 </mat-radio-button>
      <mat-radio-button [value]="4">4 </mat-radio-button>
    </mat-radio-group>

    <div class="booking-details__selected">
      <app-location-card [location]="location"></app-location-card>
      <app-car-card [car]="car"></app-car-card>
    </div>
  </div>

  <div formArrayName="driversContactDetails">
    <h2 class="form__header">Contact Details</h2>
    <ng-container *ngFor="let contactDetails of driversDetailsArray.controls; let i = index">
      <app-contact-form [index]="i"></app-contact-form>
    </ng-container>
  </div>
</form>
