.form__header {
  display: flex;
  justify-content: center;
  margin-block: 1rem;
}

form {
  width: 80%;
  margin: auto;
}
.form__2-column {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.form__radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: center;

  mat-radio-button {
    margin: 1rem;
  }
}
:host ::ng-deep {
  .mat-radio-container,
  .mat-radio-outer-circle,
  .mat-radio-inner-circle {
    width: 1.5rem;
    height: 1.5rem;
  }
}
