<form
  class="form"
  [formGroup]="searchForm">
  <mat-form-field
    appearance="outline"
    color="primary"
    class="search-field"
  >
    <input
    [formControl]="searchForm.controls['searchTerm']"
      name="searchTerm"
      aria-label="Search"
      matInput
      [placeholder]="placeholder"
      type="text"
    />
    <button
      matSuffix
      color="warn"
      mat-icon-button
      *ngIf="showSearchButton"
      (click)="reset()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button
    mat-raised-button
    id="search-button"
    *ngIf="showSearchButton"
    (click)="onEnter()"
  >
    Search
  </button>
</form>


<button
  mat-stroked-button
  class="select__button"
  [matMenuTriggerFor]="menu"
>
  <span>{{searchBarTitle}}</span>
  <mat-icon color="primary">expand_more</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="$event.stopPropagation()"
  >
    <mat-checkbox
      (change)="onAllChecked($event)"
      [(ngModel)]="allChecked"
      >All
    </mat-checkbox>
  </button>

  <button
    *ngFor="let option of options"
    mat-menu-item
    (click)="$event.stopPropagation()"
  >
    <mat-checkbox
      (change)="onChange(option)"
      [(ngModel)]="option.checked"
    >
      {{ option.label }}
    </mat-checkbox>
  </button>
</mat-menu>
