#search-button {
    background-color: black;
    color: white;
    font-size: 1rem;

    &:hover {
        background-color: orange;
    }
}

.search-field {
    width: 20rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2rem;
}