<header class="header-container">
    <button id="back-button" 
      mat-raised-button 
      routerLink="">
      <mat-icon>chevron_left</mat-icon>
      <span id="back-button-text">Return Home</span>
    </button>
    <h1 class="page-title">Our Locations</h1>
    <button id="fleet-button" 
      mat-raised-button 
      routerLink="/car-hire">
      View Fleet
      <mat-icon>chevron_right</mat-icon>
    </button>
</header>

<div class="location_card-wrap" *ngIf="locationsWithMappedCategories$ | async as locations">
  <mat-card *ngFor="let location of locations" 
    class="location" 
    [ngClass]="{'location-disabled': !location.isFinalized}">
    <img mat-card-image 
      class="image" 
      src="{{location.image}}" 
      alt="Queenstown"
    />
    <h2 *ngIf="!location.isFinalized" 
      id="coming-soon">
      Coming Soon
    </h2>
    <mat-card-header class="location-header">
      <mat-card-title>{{location.name}}</mat-card-title>
      <mat-card-subtitle>{{location.area}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
        {{location.brief}}
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button 
        class="view-button">
        <mat-icon class="view-icon">location_on</mat-icon>
        View Availability
      </button>
      <button 
        disabled
        matTooltip="Feature Coming Soon" 
        [matTooltipDisabled]="false"
        mat-raised-button class="lodge-button">
        <mat-icon class="lodge-icon">bed</mat-icon>
        Lodging
      </button>
    </mat-card-actions>
  </mat-card>
</div>
