<header class="header-container">
    <button id="back-button" 
      mat-raised-button 
      routerLink="">
      <mat-icon>chevron_left</mat-icon>
      <span id="back-button-text">Return Home</span>
    </button>
    <h1 class="page-title">Our Locations</h1>
    <button id="fleet-button" 
      mat-raised-button 
      routerLink="/car-hire">
      View Fleet
      <mat-icon>chevron_right</mat-icon>
    </button>
</header>

<div class="country-filter" *ngIf="countriesSettled">
  <app-filter-block
    searchBarTitle="Filter By Countries"
    [options]="countriesSettled"
    (selectedValue)="onFilterChange($event)"
    >
  </app-filter-block>
  <h1 *ngIf="currentSearchFilters.length > 0; else noFiltersSelected">
    {{ currentSearchFilters.length > 1 ? currentSearchFilters.length + ' countries' : currentSearchFilters }}
  </h1>
  <ng-template #noFiltersSelected>
    <h1>Locations Coming Soon</h1>
  </ng-template>
</div>

<div class="location_card-wrap" *ngIf="locationsList">
  <ng-container *ngFor="let location of locationsSelected">
    <app-location-card [location]="location">
      <mat-card-actions footer class="card-actions">
        <button
          mat-raised-button
          class="view-button"
          (click)="openAvailabilityPopup(location)"
        >
          <mat-icon class="view-icon">location_on</mat-icon>
          Available Cars
        </button>
        <button
          disabled
          matTooltip="Feature Coming Soon"
          [matTooltipDisabled]="false"
          mat-raised-button
          class="lodge-button"
        >
          <mat-icon class="lodge-icon">bed</mat-icon>
          Lodging
        </button>
      </mat-card-actions>
    </app-location-card>
  </ng-container>
</div>
