.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-block-start: 2rem;
}

#back-button, #fleet-button {
    margin: 2rem;
    width: 8rem;
    background-color: black;
    color: white;
    &:hover {
        background-color: orange;
    }
}

.image-container {
    position: relative;
}

.image {
    height: 14rem;
}

#coming-soon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(220, 154, 20);
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: aliceblue;
}

.location_card-wrap {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 8rem 2rem 0 2rem;
    flex-wrap: wrap;
}

.location, .location-disabled {
    border: 3px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
    max-width: 20rem;
    flex-shrink: 1;
    flex-grow: 0;
}

.location-disabled {
    opacity: 0.3;
    pointer-events: none;
}
.card-actions {
    display: flex;
    justify-content: space-between;
}

.card-content {
    position: relative;
    white-space: pre-wrap;
}

.view-button, .lodge-button {
    background-color: black;
    color: white;
    font-size: 1rem;
}

.view-button:hover {
    background-color: orange;
}

.hero-icon, .lodge-icon {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
}

@media (max-width: 1000px) {
    .location {
        max-width: 20rem;
    }
}

@media (max-width: 600px) {
    .location {
        max-width: 20rem;
    }
}