<div class="popup-container">
  <div class="car-carousel">
    <ng-container *ngFor="let car of availableCars; let i = index">
      <app-car-card
        [car]="car"
        [showHideCarouselCarClass]="{ 'active': currentIndex === i, 'hidden': currentIndex !== i }"
      ></app-car-card>
    </ng-container>
  </div>
  <div class="carousel__button-container">
    <button
      class="carousel__button"
      mat-icon-button
      (click)="prevCar()"
      matTooltip="Previous car"
      matTooltipPosition="above"
      [disabled]="availableCars.length < 2"
      [matTooltipDisabled]="availableCars.length < 2"
    >
      <mat-icon
        [ngClass]="{ 'disabled-icon': availableCars.length < 2 }"
        color="primary"
        >chevron_left</mat-icon
      >
    </button>
    <button
      class="carousel__button"
      mat-icon-button
      (click)="nextCar()"
      matTooltip="Next car"
      matTooltipPosition="above"
      [disabled]="availableCars.length < 2"
      [matTooltipDisabled]="availableCars.length < 2"
    >
      <mat-icon
        [ngClass]="{ 'disabled-icon': availableCars.length < 2 }"
        color="primary"
        >chevron_right</mat-icon
      >
    </button>
  </div>
  <div class="card-action-buttons">
    <button
      mat-raised-button
      id="booking-button"
      (click)="onsubmitBookingRequest()"
    >
      <mat-icon class="lodge-icon">bed</mat-icon>
      Book Now
    </button>
    <button
      mat-raised-button
      color="warn"
      id="close-btn"
      (click)="closePopup()"
    >
      Close
    </button>
  </div>
</div>
