<div class="popup-container">
  <div class="carousel" *ngIf="availableCars.length > 0; else locationBlock">
    <ng-container *ngFor="let car of availableCars; let i = index">
      <app-car-card
        [car]="car"
        [showHideCarouselCarClass]="{
          active: currentIndex === i,
          hidden: currentIndex !== i
        }"
      ></app-car-card>
    </ng-container>
  </div>
  <ng-template #locationBlock>
    <div class="carousel">
      <ng-container *ngFor="let location of availableLocations; let i = index">
        <app-location-card
          [location]="location"
          [showHideCarouselLocationClass]="{
            active: currentIndex === i,
            hidden: currentIndex !== i
          }"
        ></app-location-card>
      </ng-container>
    </div>
  </ng-template>
  <div class="carousel__button-container">
    <button
      class="carousel__button"
      mat-icon-button
      (click)="previousOption()"
      matTooltip="Previous option"
      matTooltipPosition="above"
    >
      <mat-icon color="primary">chevron_left</mat-icon>
    </button>
    <button
      class="carousel__button"
      mat-icon-button
      (click)="nextOption()"
      matTooltip="Next option"
      matTooltipPosition="above"
    >
      <mat-icon color="primary">chevron_right</mat-icon>
    </button>
  </div>
  <div class="card-action-buttons">
    <button
      mat-raised-button
      id="booking-button"
      (click)="onsubmitBookingRequest()"
    >
      <mat-icon class="lodge-icon">bed</mat-icon>
      Book Now
    </button>
    <button
      mat-raised-button
      color="warn"
      id="close-btn"
      (click)="closePopup()"
    >
      Close
    </button>
  </div>
</div>
