<div class="popup-container">
  <div class="car-carousel">
    <mat-card
      class="car"
      [ngClass]="{ active: currentIndex === i }"
      *ngFor="let car of availableCars; let i = index"
    >
      <div class="car__top-border">
        <img class="car__image" src="{{ car.image }}" alt="car" />
        <mat-card-header class="car-header">
          <mat-card-title class="car-header__title">{{
            car.make
          }}</mat-card-title>
          <mat-card-subtitle>{{ car.year }} {{ car.model }}</mat-card-subtitle>
        </mat-card-header>
      </div>

      <mat-card-actions class="card-actions">
        <button disabled mat-raised-button class="lodge-button">
          <mat-icon class="lodge-icon">bed</mat-icon>
          Book Now
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="carousel__button-container">
    <button
      class="carousel__button"
      mat-icon-button
      (click)="prevCar()"
      matTooltip="Previous car"
      matTooltipPosition="above"
    >
      <mat-icon color="primary">chevron_left</mat-icon>
    </button>
    <button
      class="carousel__button"
      mat-icon-button
      (click)="nextCar()"
      matTooltip="Next car"
      matTooltipPosition="above"
    >
      <mat-icon color="primary">chevron_right</mat-icon>
    </button>
  </div>
  <button mat-raised-button color="warn" id="close-btn" (click)="closePopup()">
    Close
  </button>
</div>
